each comment in comments
	- var currUser = "test"
	- var commenter = comment.commenter;
	- var content = comment.commentContent;
	- var likers = comment.commentLikers;
	- var commentDate = new Date(0);
	- commentDate.setUTCSeconds(comment.date);
	- commentDate = commentDate.toLocaleString();
	if commenter != null
		.comment-area(id="#{comment.commentid}")
			p.
				<a href="/profile/#{commenter}/">#{commenter}</a> commented:
			.panel.panel-default
				.panel-body
					p.comment-body
						| #{content}
				.panel-footer
					p.pull-left #{commentDate}
					p.pull-right 
						| #{comment.likes} 
						if likers != null && currUser in comment.commentLikers
							img(src="/img/png/glyphicons-345-thumbs-down.png", class="like-icon")
						else
							img(src="/img/png/glyphicons-344-thumbs-up.png", class="like-icon")
					.clearfix