.comment-area(id="#{comment.id}")
  .top-bar.clearfix
    p.pull-left
      <a href="/profile/#{comment.userId}/">#{commenter.username}</a> commented:
    p.pull-right
      if comment.editable
        | <a href="" class="comment-edit"> <img src="/img/png/glyphicons-151-edit.png" /></a>
        | <a href="" class="comment-delete"> <img src="/img/png/glyphicons-17-bin.png" /></a>
  .panel.panel-default
    .panel-body
      p.comment-body
        | #{comment.content}
    .panel-footer
      p.pull-left #{new Date(comment.posted)}
      p.pull-right
        | <a href="" class="show-comment-likers"> #{comment.likes} </a>
        <a href="" class="comment-like-button"> <img src="/img/png/glyphicons-344-thumbs-up.png" class="like-icon" /> </a>
      .clearfix
