.user-post(id="#{post.id}")
  .top-bar.clearfix
    p.pull-left
      <a href="/profile/#{post.userId}/" class="username">#{poster}</a> posted:
    p.pull-right
      if post.editable
        | <a href="" class="post-edit"> <img src="/img/png/glyphicons-151-edit.png" /></a>
        | <a href="" class="post-delete"> <img src="/img/png/glyphicons-17-bin.png" /></a>
  .panel.panel-default
    .panel-body
      p.post-body
        | #{post.content}
    .panel-footer
      p.pull-left #{new Date(post.created)}
      p.pull-right
        | <a href="" class="show-post-likers">#{post.likes}</a>
        <a href="" class="post-like-button"> <img src="/img/png/glyphicons-344-thumbs-up.png" class="like-icon" /></a>
      .clearfix
- each comment in comments
  - const commenter = data.users[comment.userId];
    include comment.jade
textarea.comment-box(rows="2", cols="30", val="")
button.btn.btn-default.post-comment Comment
