g.reviews-area
	if reviews != null
		- each review in reviews
			- var platform = review.platform.toUpperCase();
			.panel.panel-default.review-item(id="#{review.reviewId}")
				.panel-heading.clearfix
					h1.pull-left.
						#{review.title}
					.pull-right.review-header-right(style="width: 25%")
						p.
							#{review.game} -- #{platform}
						.progress
							- var rating = review.rating * 20;
							.progress-bar.progress-bar-warning(role="progressbar" aria-valuenow="#{rating}" aria-valuemin="0" aria-valuemax="100" style="width: #{rating}%; min-width: 4em;") #{rating} %
				.well.review-snippet.
					p #{review.snippet}
				.well.full-review(hidden)
					!{review.content}
				.panel-footer.clearfix
					p.pull-left
						reviewed by <a href="/profile/#{review.reviewer}">#{review.reviewer}</a>
					p.pull-right
						if review.editable
							| <a href="/reviews/#{review.reviewId}/edit" class="review-edit"> <img src="/img/png/glyphicons-151-edit.png" /></a>
							| <a href="" class="review-delete"> <img src="/img/png/glyphicons-17-bin.png" /></a>