extends layout
block content
	- var currUserIsFriends = false;
	if userinfo.friends != null
		- each friend in userinfo.friends
			if friend == curruser
				- currUserIsFriends = true;
	script(src="/scripts/friendfunction.js")
	include includes/sorting.jade
	.profile
		.well
			.icon-area.clearfix
				.pull-left
					img(src="/img/png/glyphicons-4-user.png", class="profile-pic")
				.pull-right.button-area
					if curruser == userinfo.username
						<a href="/profile/#{userinfo.username}/edit"> <img src="/img/png/glyphicons-151-edit.png" /></a>
					else if currUserIsFriends
						a.remove-friend(href=""): img(src="/img/png/glyphicons-8-user-remove.png")
					else
						a.add-friend(href=""): img(src="/img/png/glyphicons-7-user-add.png")
			.panel.panel-default
				.panel-heading
					p(class="panel-header").
						Username
				.panel-body
					p.username.
						#{userinfo.username}
			.panel.panel-default
				.panel-heading
					p(class="panel-header").
						Email
				.panel-body
					p.
						#{userinfo.email}
			if userinfo.twitchid != ""
				.panel.panel-default
					.panel-heading
						p.panel-header.
							Twitch Stream
					.panel-body
						p
							a(href="http://twitch.tv/#{userinfo.twitchid}") #{userinfo.twitchid}
			if userinfo.games != null
				.panel.panel-default
					.panel-heading
						p.panel-header.
							Games
					.panel-body
						- each game in userinfo.games
							include includes/gameitem.jade